@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {

    .nav_links_style {
        @apply font-palanquin font-bold text-[13px] leading-3;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
        
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
}

.underline-animation {
  position: relative;;
}

.underline-animation::after {
  content: '';
  position: absolute;
  margin-bottom: -8px;
  bottom: 8px;
  right: 0px;
  height: 4px;
  background-color: #000000;
  display: none;
}

.underline-animation:hover::after,
.underline-animation:focus::after {
  display: block;
  width: 100%;
  
}
